@charset "utf-8";

html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
    /*color: #FFFf33;*/
    color: #e5e4e2;
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(0, 900px);
    align-content: center;
    justify-content: center;
}

header {
    margin-top: 100px;
    text-align: center;
}

header img {
    border-sizing: border-box;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border-width: 5px;
    border-style: double;
    border-color: #00ffff;
}

#siteDescription, #locationRec {
    margin: 10px;
    width: 70%;
    justify-self: center;
}

nav.horizontalNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

nav.horizontalNav li:nth-child(1) a { color: #ffd1dc}
nav.horizontalNav li:nth-child(2) a { color: #b2fab4}
nav.horizontalNav li:nth-child(3) a { color: #ff355e}
nav.horizontalNav li:nth-child(4) a { color: #ff5e00}
nav.horizontalNav li:nth-child(5) a { color: #89cff0}
nav.horizontalNav li:nth-child(6) a { color: #fffff0}

nav.horizontalNav li a {
    display: block;
    border-color: #e6ff66;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;
    padding: 10px;
    margin: auto;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    line-height: 65px;
    background-color: rgba(230, 255, 102, 0.2) ;
}

nav.horizontalNav li a:hover {
    color: #9457eb;
}

nav.horizontalNav li:nth-child(odd) {
    margin: 5px;
}

nav.horizontalNav li:nth-child(even) {
    margin-top: 35px;
}


/* form layout styles */

/* centers form & sets width */
form {
    display: grid;
    justify-self: center;
    width: 70%;
}

/* lays out label & input in a row */
div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px;
}

/* gives starting width */
div.formRow > * {
    flex: 1 1 150px;
}

/* styel field labels */
div.formRow label {
    color: #89cff0;
    font-size: 0.9em;
}

/* style inputs */
div.formRow input, div.formRow select, div.formRow textarea {
    background-color: rgba(230, 255, 102, 0.1);
    border: 2px solid #00ffff;
    border-radius: 6px;
    color: #e5e4e2;
    font-family: inherit;
    font-size: 1em;
    padding: 10px;
}

/* changes border color when selected */
div.formRow input:focus, div.formRow select:focus, div.formRow textarea:focus {
    outline: none;
    border-color: #9457eb;
}

/* allow message box to only resize vertically */
div.formRow textarea {
    resize: vertical;
}

div.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

div.buttons input[type="submit"], div.buttons input[type="reset"] {
    padding: 10px 25px;
    background-color: rgba(230, 255, 102, 0.2);
    border: 3px solid #e6ff66;
    border-radius: 30px;
    color: #e5e4e2;
    font-family: inherit;
    font-size: 0.9em;
    cursor: pointer;
}

div.buttons input[type="submit"]:hover, div.buttons input[type="reset"]:hover {
    color: #9457eb;
    border-color: #9457eb;
}


/* gallery layout styles */

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.gallery-itemC {
    margin: 5px;
    border: 1px solid #00ffff;
    width: 30%;
    min-width: 150px;
}

div.gallery-itemM {
    margin: 5px;
    border: 1px solid #00ffff;
    width: 95%;
    min-width: 150px;
}

div.gallery-itemC:hover, div.gallery-itemM:hover {
    border: 1px solid #9457eb;
}

div.gallery-itemC img, div.gallery-itemM img {
    width: 100%;
    height: auto;
}

div.gallery-itemC div.desc, div.gallery-itemM div.desc {
    padding: 15px;
    text-align: center;
}


footer {
    margin-top: 80px;
    padding: 50px;
    text-align: center;
}

footer a{
    color: white;
}
